.outside{
  flex: 1 0 15%;
  width: 246px;
  height: 257px;
  margin: 2%;
  font-family: "SF Pro Display";
}
.item-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FCFCFC;
  box-shadow: 0 0 10px 1px #a1bcd4;
  border-radius: 8px;
  margin: 4%;
}
.image{
  width: 100%;
  height: 60%;
  background-size: 50%;
  display: flex;
  justify-content: center;
}
.photo{
  width: 100%;
  height: 100%;
}
.info{
  width: 100%;
  height: 40%;
  padding: 2%;
  border-top: 1px solid #518FD8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text{
  width: 100%;
  height: 70%;
}
.text-name{
  margin-bottom: 4%;
}

.location{
  text-align: right;
}

.description a{
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  color: #F1F1F1;
  border-radius: 8px;
}


.description a:hover{
  background-color: #F1F1F1;
  border: 1px solid #518FD8;
  color: #518FD8;
  transition: all 0.5s ease-in-out;
}
.description{
  justify-self:flex-end;
  background-color: #518FD8;
}
.description:hover{
  background-color: #F1F1F1;
}