.detail{
  width: 70%;
  height: 80%;
  position:relative;
  top: 5%;
  left: 15%;
  display: flexbox;
  align-self: center;
  background-color: #FCFCFC;
  box-shadow: 0 0 10px 1px #a1bcd4;
  border-radius: 8px;
  margin: 4px;
}
.detail-content{
  display: flex;
  flex-direction: column;
  position: relative;
 
} 